.bigger-highlight-line {
  width: 64px;
  border-bottom: 4px solid var(--color-primaria);
}

.title {
  font-family: var(--font-prata);
  font-size: 40px;
  font-weight: var(--font-weight-normal);
  line-height: 72px;
  text-align: center;
  color: var(--color-primaria);
}

.highligth-line {
  display: block;
  margin: 0 auto;
}

section span {
  margin-bottom: 64px;
}

